<%-# Sort submissions by title before sorting by result -%>
<% instance.sorted_submissions.includes(proposal: :speakers).each do |submission| %>
  <p>
    <%= link_to submission.proposal.title, submission.proposal %> -
    <% last_speaker_id = submission.proposal.speakers.last.id %>
    <% submission.proposal.speakers.each do |speaker| %>
      <%= link_to speaker.name, speaker %><%= ", " unless last_speaker_id == speaker.id %>
    <% end %>
    -
    <%= submission.result.capitalize %>
  </p>
<% end %>

