<h3><%= @event.name_and_year %></h3>

<h5>Proposals</h5>
<% @event.submissions.each do |submission| %>
  <p>
    <%= link_to submission.proposal.title, submission.proposal %> -
    <%= link_to submission.proposal.speaker.name, submission.proposal.speaker %> -
    <%= submission.result.capitalize %>
  </p>
<% end %>
