/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: avenir next;
}

a {
  text-decoration: none;
}

.navigation {
  margin-top: 5%;
}

.navigation a {
  color: #9B9B9B;
  margin-left: 20px
}

.navigation ul {
  list-style-type: none;
  margin-bottom: 0;
}

.navigation ul li {
  display: inline;
  font-size: 18px;
  vertical-align: bottom;
}

hr {
  width: 100%;
  margin: 5px;
}

li .heading {
  font-size: 48px;
  color: #333333;
  font-weight: 500;
  margin-left: 0px
}

.medium-height {
  height: 15em
}

ul .inline {
  display: inline
}

.tagline {
  font-size: 22px;
  width: 550px;
  margin-top: 40px;
}

select#submission_event_id {
  display: block;
}

.g-recaptcha {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  .align-right {
    position: absolute;
    right: 0px;
    top: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .navigation ul li {
    display: block;
    margin-right: 0;
  }

  .navigation a {
    margin-left: 0px;
  }

  .tagline {
    width: 100%
  }
}
