/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: avenir next;
  font-size: 18px;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  margin: 5px 5px 25px 5px;
}

.main-content {
  margin-left: 8px;
  margin-right: 8px;
}

.flash {
  font-weight: 500;
  margin-top: 20px;
  padding: 20px;
}

.flash.notice {
  background-color: #DCF5F9;
  border: 1px solid #147694; /* same color as the standard link color */

}

.flash.alert {
  background-color: #FCEDE9;
  border: 1px solid #9d3515; /* same color as the error color */
}

.button-add {
  margin-bottom: 30px;
}

.medium-height {
  height: 15em;
}

.navigation {
  margin-top: 5%;
  position: relative;
}

.navigation a {
  color: #757575;
}

.navigation a:hover {
  color: #000000;
}

.navigation form {
  display: inline-block;
}
.navigation button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: none;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 0;
}

li .heading {
  font-size: 48px;
  color: #333333;
  font-weight: 500;
  margin-left: 0px;
}

.navigation ul {
  list-style-type: none;
  margin-bottom: 0;
}

.navigation ul li {
  display: inline;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 10px;
}

.navigation ul li.active {
  border-bottom: 1px solid #757575;
}

.row {
  word-wrap: break-word;
}

ul .inline {
  display: inline;
}

.tagline {
  font-size: 22px;
  width: 550px;
  margin-top: 40px;
}

select#submission_event_instance_id {
  display: block;
}

#edit-submission {
  font-size: 11px;
}

/**
 * .fieldset redeclares some Normalize styles in a .fieldset class
 * so they can be used to override Skeleton styles
 */

fieldset.fieldset {
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  margin: 0 2px;
  margin-bottom: 15px;
  padding: 0.5em 0.8em 0.75em;
}

fieldset.fieldset legend {
  border: 0; /* 1 */
  padding: 0.2em;
}

@media only screen and (min-width: 1000px) {
  .align-right {
    position: absolute;
    right: 0px;
    top: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .navigation ul li {
    display: block;
    margin-right: 0;
  }

  .navigation ul li.active {
    border-bottom: 0;
    font-weight: 500;
  }

  .navigation a {
    margin-left: 0px;
  }

  .navigation button {
    margin-left: 0px;
  }

  .tagline {
    width: 100%;
  }
}
